# Copy this file to .env and fill in real values
# cp .env.example .env

OKTA_DOMAIN=https://integrator-5446987.okta.com
OKTA_CLIENT_ID=your_client_id_here
OKTA_CLIENT_SECRET=your_client_secret_here
AES_KEY=4Y3RM6H9
AES_IV=1S6JKH24
